<h1>Результат</h1>

<% if (success) { %>
  <p style="color:green;">Сохранено в базу!</p>
  <p><%= user.name %> | <%= user.age %> | <%= user.email %></p>
<% } else { %>
  <ul>
    <% errors.forEach(e => { %>
      <li><%= e %></li>
    <% }) %>
  </ul>
<% } %>

<a href="/users">Назад</a>