<h1>Регистрация</h1>

<form method="POST" action="/users">
  <input name="name" placeholder="Имя"><br><br>
  <input name="age" placeholder="Возраст"><br><br>
  <input name="email" placeholder="Email"><br><br>

  <button type="submit">Отправить</button>
</form>